h5p_workflow.json
{
  "name": "YouTube to H5P Moodle Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "youtube-to-h5p",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "schema": "public",
        "table": "youtube_urls",
        "filters": {
          "conditions": [
            {
              "keyValue": {
                "key": "id",
                "condition": "eq",
                "value": "={{ $json.youtube_url_id }}"
              }
            }
          ]
        }
      },
      "id": "supabase_get",
      "name": "Get YouTube URL",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {"version": 2},
                "conditions": [
                  {
                    "leftValue": "={{ $json.subtitles }}",
                    "rightValue": "",
                    "operator": {"type": "string", "operation": "notEmpty"}
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "switch",
      "name": "Has Subtitles?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "sshHost": "localhost",
        "sshPort": 22,
        "user": "claude",
        "command": "cd /home/claude/python-modules/src/services/h5p && python3 cli_youtube_to_h5p.py --subtitle-text \"{{ $json.subtitles }}\" --title \"{{ $json.title }}\" --createcourse --coursename \"{{ $json.title }} - Kurs\""
      },
      "id": "ssh",
      "name": "Generate H5P",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [850, 250],
      "credentials": {
        "sshPassword": {
          "id": "2",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.parse($json.stdout) }}"
      },
      "id": "respond_success",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1050, 250]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"error\",\"message\":\"No subtitles found\"}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond_error",
      "name": "No Subtitles Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Get YouTube URL", "type": "main", "index": 0}]]
    },
    "Get YouTube URL": {
      "main": [[{"node": "Has Subtitles?", "type": "main", "index": 0}]]
    },
    "Has Subtitles?": {
      "main": [
        [{"node": "Generate H5P", "type": "main", "index": 0}],
        [{"node": "No Subtitles Error", "type": "main", "index": 0}]
      ]
    },
    "Generate H5P": {
      "main": [[{"node": "Success Response", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
